<%= form_for(@album) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :data_evento, 'Data do Evento' %><br>
    <%= f.date_field :data_evento %>
  </div>
  <div class="form-group">
    <%= f.label :nome_evento_assunto, 'Nome/Assunto' %><br>
    <%= f.text_area :nome_evento_assunto, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :departamento_id %><br>
    <%= f.select :departamento_id, options_from_collection_for_select(Departamento.all, :id, :nome, selected: f.object.departamento_id), include_blank: true %>
  </div>
  <div class="form-group">
    <%= f.label :nome_fotografo, 'Nome do fotógrafo' %><br>
    <%= f.text_field :nome_fotografo, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :endereco, "Endereço do Evento" %><br>
    <%= f.text_area :endereco, class: 'form-control' %>
  </div>

<!--
    <div  class="panel panel-default">
      <div class="panel panel-heading"> Fotos </div>
      < %= f.fields_for :fotos do |fot|  %>
           < %= render 'foto_fields', f:fot %>
      < % end %>
      <p>< %= link_to_add_association '+', f, :fotos,  class: "btn btn-primary active" %> </p>

    </div>
-->

    <div class="panel panel-default">
      <div class="panel panel-heading"> Fotos</div>
      <%= f.fields_for :fotos do |fot| %>
        <div class="field">
          <%= fot.label :foto %>
          <%= fot.file_field :arquivo, multiple: true, name: "fotos[arquivo][]" %>
        </div>
      <% end %>
    </div>

    <div  class="panel panel-default">
    <div class="panel panel-heading"> Tags </div>

    <%= f.fields_for :tags do |tag|  %>
        <%= render 'tag_fields', f:tag %>
    <% end %>
    <p><%= link_to_add_association '+', f, :tags,   class: "btn btn-primary active" %> </p>
    </div>

    <div class="actions">
    <%= f.submit "Enviar", class: "btn btn-primary active" %>
  </div>
<% end %>
