<script type="text/javascript">
  $(function() {
      $('#repetir').onclick(function() {
          total = $('#total').val();
          echo (total);

      });
  });
</script>



<%= form_for(@album) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :data_evento, 'Data do Evento' %><br>
    <%= f.date_field :data_evento %>
  </div>
  <div class="form-group">
    <%= f.label :nome_evento_assunto, 'Nome/Assunto' %><br>
    <%= f.text_area :nome_evento_assunto, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :departamento_id %><br>
    <%= f.select :departamento_id, options_from_collection_for_select(Departamento.all, :id, :nome, selected: f.object.departamento_id), include_blank: true %>
  </div>
  <div class="form-group">
    <%= f.label :nome_fotografo, 'Nome do fotógrafo' %><br>
    <%= f.text_field :nome_fotografo, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :endereco, "Endereço do Evento" %><br>
    <%= f.text_area :endereco, class: 'form-control' %>
  </div>


    <% @bEntroulopping = false %>
    <div class="panel panel-default">
      <div class="panel panel-heading"> Fotos e Legendas</div>
      <h5> Insira as legendas das fotos nos campos mais abaixo</h5>
      <h5> Para a mesma legenda em todas as fotos, coloque em apenas um campo e escolha essa opção. </h5>
      <%= f.fields_for :fotos do |fot| %>
        <div class="row">
          <% if @bEntroulopping == false %>
              <% @album.fotos.each do |af| %>
                  <div class="col-lg-4">
                    <h3> <%= af.id %> </h3>
                    <%= image_tag(af.arquivo_url,size: "200x200") if af.present? %> <br>
                    <%= af.arquivo_identifier %>  <%= "/" +  af.subtitle if !af.subtitle.nil?  %>
                  </div>

              <% end %>
              <% @bEntroulopping = true %>
          <% end %>
        </div>
          <hr>
          <%= fot.label "Apagar" %>
          <% if fot.object.id == @album.capa %>
              <%= fot.check_box :_destroy, disabled: true %>
          <% else %>
              <%= fot.check_box :_destroy %>
          <% end %>
          <%= fot.text_field :id, size: 10,  readonly:true %>
          <%= fot.text_field :subtitle %>

      <% end %>
    </div>





    <div  class="panel panel-default">
    <div class="panel panel-heading"> Tags </div>



    <%= f.fields_for :tags do |tag|  %>
        <%= render 'tag_fields', f:tag %>
    <% end %>
    <p><%= link_to_add_association '+', f, :tags,   class: "btn btn-primary active" %> </p>
    </div>



    <div class="actions">
    <%= f.submit "Enviar", class: "btn btn-primary active" %>
  </div>
<% end %>
