<div class="row">
  <div class="col-md-8">

    <div class="input-group">



      <span class="input-group-addon">
        <%= f.label "Apagar" %>
        <% if f.object.id == @album.capa %>
            <%= f.check_box :_destroy, disabled: true %>
        <% else %>
            <%= f.check_box :_destroy %>
        <% end %>
      </span>

      <table>
        <tr>
          <td> <%= f.text_field :arquivo_identifier, style: 'width: 450px', class: 'form-control', readonly: true %></td>
          <td> <%= f.file_field :arquivo %> </td>
          <td> <%= f.text_field :legenda, size: 50  %> </td>
          <td> <%= f.select :categoria_id, options_from_collection_for_select(Categoria.all, :id, :nome, selected: f.object.categoria_id), include_blank: true  %> </td>
        </tr>
      </table>
   </div>
  </div>
</div>