<%= form_for(@album) do |f| %>

    <p> Id: <%= @album.id %></p>
    <p> Nome: <%= @album.nome_evento_assunto %> </p>

    <% @album.fotos.each do |af| %>
        <%= image_tag(af.arquivo_url, size: '200x200') %>
    <% end %>
    <%= f.fields_for :fotos do |fot| %>
        <%= render 'def_leg', f:fot %>
    <% end %>
<%= f.submit "Enviar" %>
<%= link_to "Voltar", album_path %>
<% end %>

