<h1> <%= @album.nome_evento_assunto %> </h1>


<div class="jumbotron">
  <p> Data do evento: <%= @album.data_evento.strftime("%d/%m/%Y") %></p>
  <p> Local do evento: <%= @album.endereco %></p>
  <p> Fotógrafo:  <%= @album.nome_fotografo %> </p>
</div>

<div id="links">
  <% if @album.fotos.any? %>
      <div class="row">
        <% @fotos.each do |af| %>
          <div class="col-md-3">
            <%= link_to(image_tag(af.arquivo_url,size: "150x150"), af.arquivo_url, :data => {:gallery => 'data-gallery'}, title: af.subtitle + "/" +  af.arquivo_identifier  ) if af.present? %> <br>
            <%= af.subtitle %> / <%= af.arquivo_identifier %>
            <hr>
          </div>
      <% end %>
      </div>
  <% end %>
</div>



<% if @album.tags.any? %>
    <div  class="panel panel-default">
      <div class="panel panel-heading"> Tags </div>
      <div class="row">
        <% @album.tags.each do |at| %>
            <div class="col-lg-4"> <h4> <%= at.nome %> </h4> </div>
        <% end %>
      </div>
    </div>
<% end %>
<%= link_to "Voltar", colecao_index_path, class: "btn btn-primary active" %>