<script type="text/javascript">
    $(document).ready(function() {
        $('#usuarios').dataTable ({
            "iDisplayLength": 10, <!-- 10 registros por pagina -->
            "bPaginate": true,    <!-- Paginação  -->
            "sPaginationType":"full_numbers",   <!-- Opção de mostrar numeros por pagina (1,2,3...) -->
            "bJQueryUI":true,
            "bLengthChange":false, <!-- Tira a opção de escolher quantos registros devem aoarecer por paagina -->
            "ordering":     false,  <!-- Tira os links de ordenação de cada coluna -->
            "aaSorting":    [],  <!-- Determina que a ordenação nao seguira nenhuma coluna (por estar vazio). -->
            "oLanguage": { <!-- Inicia a tradução dos itens da tela -->
                "sInfo":              "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoFiltered":      "Filtrado de _MAX_ registros no total",
                "sInfoEmpty":         "Sem resultados",
                "sZeroRecords":       "Sem resultados",
                "sSearch":            "Buscar",
                "oPaginate": {
                    "sFirst":         "Primeiro",
                    "sPrevious":      "Anterior",
                    "sNext":          "Próximo",
                    "sLast":          "Ultimo"
                }
            }
        })
    })
</script>

<h1>Usuários</h1>


    <table class="table table-bordered display" id="usuarios">
        <thead>
            <tr>
                <th class="text-center">Login</th>
                <th class="text-center">Nome </th>
                <th class="text-center">Tipo </th>
                <th class="text-center">  E-mail Principal </th>
                <th></th>
            </tr>
        </thead>
          <% @usuarios.each do |usuario| %>
    <tbody>
        <tr>
            <td><%= usuario.loginUsuario %></td>
            <td><%= usuario.nomeUsuario %></td>
            <td><%= usuario.tipoUsuario %></td>
            <td><%= usuario.emailPrincipalUsuario %> </td>
            <td class="text-center"><%= link_to 'Mostrar', usuario, class: "btn btn-default" %></td>
        </tr>
      <% end %>
        </tbody>
    </table>