<h1>Listando Equipamentos</h1>

<div class="container">

<table class="table table-bordered display">
  <tr>
    <th class="text-center">Nome</th>
    <th class="text-center">Observação</th>
    <th class="text-center"></th>
    <th class="text-center" colspan="2"></th>
  <tr>

<% @tipos.each do |tipo| %>
  <tr>
    <td><%= tipo.nome %></td>
    <td><%= tipo.observacao %></td>
    <td class="text-center"><%= link_to 'Mostrar', tipo %></td>
    <td class="text-center"><%= link_to 'Editar', edit_tipo_path(tipo) %></td>
    <!-- <td>< %= link_to 'Mostrar eventos', :controller => 'tipos', :action => 'eventos', :id => tipo.id %></td> -->
  </tr>
<% end %>
</table>

</div>

<p align="center"><%= link_to 'Novo Equipamento',:controller => 'tipos', :action => 'new' %>  |
<%= link_to "Voltar", calendar_index_path %> </p>