<h2 align="center">Evento selecionado:</h2>

<% @agandamento = Agendamento.find(:all) %>
<% @event = Event.find(params[:id]) %>

<table id="tab_show_one" cellpadding="20" align="center">


  <tr class="par"><td>
    <b>Sala:</b>
    <% @tipo = Tipo.find(:all) %>
    <% @tipo.each do |t| %>
        <% if t.id == @event.tipo_id %>
            <%= t.nome %>
        <% end %>
    <% end %>
  </td></tr>

  <tr class="impar"><td>
    <b>Título:</b>
    <%= @event.title %>
  </td></tr>

  <tr class="par"><td>
    <b>Registrado para:</b>
    <%= @event.regpara %>
  </td></tr>

  <tr class="impar"><td>
    <b>Início em:</b>
    <%= @event.starts_at.to_datetime.strftime("%d/%m/%Y %H:%M") %>
  </td></tr>

  <tr class="par"><td>
    <b>Término em:</b>
    <%= @event.ends_at.to_datetime.strftime("%d/%m/%Y %H:%M") %>
  </td></tr>


  <tr class="impar"><td>

    <b>Dias selecionados:</b>
    <ul>
      <% if @event.domingo == true %>
          <li>Domingo</li>
      <% end %>
      <% if @event.segunda == true %>
          <li>Segunda-feira</li>
      <% end %>
      <% if @event.terca == true %>
          <li>Terça-feira</li>
      <% end %>
      <% if @event.quarta == true %>
          <li>Quarta-feira</li>
      <% end %>
      <% if @event.quinta == true %>
          <li>Quinta-feira</li>
      <% end %>
      <% if @event.sexta == true %>
          <li>Sexta-feira</li>
      <% end %>
      <% if @event.sabado == true %>
          <li>Sábado</li>
      <% end %>
    </ul>
  </td></tr>

  <tr class="par">
    <td><b>Descrição:</b>
    <%= @event.description %>
    </td></tr>
</table>