<%= form_for(@event) do |f| %>
    <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "erro") %> impediu o salvamento deste registro:</h2>

          <ul>
            <% @event.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% @u = current_usuario %>

    <div class="field">
      <%= f.label :tipo_id ,"Tipo de agendamento" %>   <br>
      <%= f.hidden_field :tipo_id, value: @tipo_escolhido.id %> <%= @tipo_escolhido.nome %>
      <div class="jumbotron jumbotron-fluid">
        <p> <%= @tipo_escolhido.observacao %> </p>
      </div>
      <a href="javascript:history.back()"> Escolher outro equipamento </a>

     </div>

    <br/>

    <div class="field">
      <%= f.label :title, "Título" %><br />
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :regpara, "Registrar para" %><br />
      <%= f.text_field :regpara %>
    </div>
    <br/>
    <div class="field">
      <%= f.label :starts_at, "Inicia em" %><br />
      <%= f.datetime_select :starts_at %>
    </div>
    <br/>
    <div class="field">
      <%= f.label :ends_at, "Termina em" %><br />
      <%= f.datetime_select :ends_at %>
    </div>
    <br/>
    <div>
      <fieldset>
        <legend> Marque os dias de semana que ele deve acontecer</legend>
        <%= f.check_box :domingo %> <%= f.label :domingo,"Domingo" %> <br />
        <%= f.check_box :segunda %> <%= f.label :segunda,"Segunda" %> <br />
        <%= f.check_box :terca %> <%= f.label :terca,"Terça" %> <br />
        <%= f.check_box :quarta %> <%= f.label :quarta,"Quarta" %> <br />
        <%= f.check_box :quinta %> <%= f.label :quinta,"Quinta" %> <br />
        <%= f.check_box :sexta %> <%= f.label :sexta,"Sexta" %> <br />
        <%= f.check_box :sabado %> <%= f.label :sabado,"Sábado" %>
      </fieldset>
    </div>
    <br />
    <div class="field">
      <%= f.label :description, "Descrição" %><br />
      <%= f.text_area :description %>
    </div>

    <div class="field">
      <%= f.hidden_field :u_email, value: @u.email  %>
    </div>

    <div class="actions">
      <%= f.submit "Enviar" %>
    </div>
<% end %>

